
.text-center{
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
    font-weight: bold;
}
.arrival{
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.div__boton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.arrival__titulo{
    font-weight: bold;
    margin-bottom: 0;
    color: #fff;
}
input[type="text"]{
    padding: .6rem .5rem;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 40px rgba(30, 49, 23, 5);
}
.arrival__label{
    color: #fff;
}
.arrival__campo{
    display: flex;
    flex-direction: column;
}